<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
						<div class="row  justifycenter m-t-b-5">
							<div class="col-md-4 mt-3 price_cards_col">
								<div class="pricing_cards">
									<div class="pricing_header">
                                        <h2>PREPAID</h2>
                                        <h3>₹499</h3>
									</div>
									<div class="pricing_body">
										<ul>
											<li>Weekend data Packs</li>
                                            <li>100 GB 3G/4G data</li>
                                            <li> Unlimited  calls</li>
                                            <li> 100 SMS per day</li>
											<li>58 days validity </li>
											<li>Premium Support with extra benefits</li>
										</ul>
									</div>
									<div class="pricing_footer">
										<a class="btn buy-btn"  (click)="gotopayment()">Buy</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 mt-3 price_cards_col">
								<div class="pricing_cards popularcard">
									<div class="pricing_header">
                                        <h2>POSTPAID</h2>
                                        <h3>₹399</h3>
										<span class="popular-tag">POPULAR</span>
									</div>
									<div class="pricing_body">
										<ul>
											<li>Flat 15% cashback</li>
                                            <li>150 GB 3G/4G data</li>
                                            <li> Unlimited  calls</li>
                                            <li> 125 SMS per day</li>
											<li>60 days validity </li>
											<li>Premium Support with OTT subscriptions</li>
										</ul>
									</div>
									<div class="pricing_footer">
										<a class="btn buy-btn"  (click)="gotopayment()">Buy</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 mt-3 price_cards_col">
								<div class="pricing_cards">
									<div class="pricing_header">
                                        <h2>DONGLE</h2>
                                        <h3>₹599</h3>
									</div>
									<div class="pricing_body">
										<ul>
											<li>Weekend data Rollover+Double data</li>
                                            <li>150 GB 4G data</li>
                                            <li>50 SMS per day</li>
											<li>50 days validity </li>
											<li>Premium Support with high data speed</li>
										</ul>
									</div>
									<div class="pricing_footer">
										<a class="btn buy-btn"  (click)="gotopayment()">Buy</a>
									</div>
								</div>
							</div>
						</div>
					</div>