<app-loginsuccess></app-loginsuccess>
<div class="body">
<div class="container">
  <h2 style="text-align:center;color: darkmagenta;">
      Update User
    </h2>
      <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="employee.name" name="name">
    
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId">
    
    </div>
    <div class="form-group">
      <label for="name">Phone number</label>
      <input type="text" class="form-control" id="phone" required [(ngModel)]="employee.phone" name="phone">
    </div>
    <div class="form-group">
      <label for="name">Aadhar</label>
      <input type="text" class="form-control" id="adhar"  required [(ngModel)]="employee.adhar" maxlength="12" minlength="12" name="adhar" >
    </div>
    <div class="form-group">
      <label for="name">Age</label>
      <input type="number" class="form-control" id="age" required [(ngModel)]="employee.age" name="age">
    </div>
    <div class="form-group">
      <label for="name">City</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="employee.city" name="city">
    </div>
    <div class="form-group">
      <label for="name">Address</label>
      <input typearea="text" class="form-control" id="address" required [(ngModel)]="employee.address" name="address">
    </div>
    <button style='margin-right:16px' class="btn btn-success" style="font-size: medium;">Submit</button>&nbsp;
    <button style='margin-right:16px' (click)="list()" class="btn btn-success" style="font-size: medium;">Back to Users</button>
    
    </form>
  </div>
  </div>