<app-loginsuccess></app-loginsuccess>
<div class="body">
<div class="container">
  <h1 style="text-align:center;color: darkmagenta;">
      Update User
    </h1>
      <form #regform="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required pattern= "[A-Za-z]+" minlength="3" [(ngModel)]="employee.name" name="name">
    
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="emailId" required pattern="^[a-zA-Z]+[.&$#_0-9a-z]*?[a-z0-9]+@(gmail|yahoo|outlook|ac)\.(com|in|org)$" [(ngModel)]="employee.emailId" name="emailId">
    
    </div>
    <div class="form-group">
      <label for="name">Phone number</label>
      <input type="text" class="form-control" id="phone" required pattern ="[6-9]{1}[0-9]{8,14}" maxlength="15" minlength="9" required [(ngModel)]="employee.phone" name="phone">
    </div>
    <div class="form-group">
      <label for="name">Aadhar</label>
      <input type="text" class="form-control" id="adhar" required pattern= "[0-9]+" required [(ngModel)]="employee.adhar" maxlength="12" minlength="12" name="adhar" >
    </div>
    <div class="form-group">
      <label for="name">Age</label>
      <input type="number" class="form-control" id="age" min="18" max="99" required [(ngModel)]="employee.age" name="age">
    </div>
    <div class="form-group">
      <label for="name">City</label>
      <input type="text" class="form-control" id="city" minlength="3" required pattern= "[A-Za-z]+" required [(ngModel)]="employee.city" name="city">
    </div>
    <div class="form-group">
      <label for="name">Address</label>
      <input typearea="text" class="form-control" id="address" minlength="3" required [(ngModel)]="employee.address" name="address">
    </div>
    <button style='margin-right:16px' class="btn btn-success" style="font-size: 20px;" [disabled]="regform.form.invalid">Submit</button>&nbsp;
    <button style='margin-right:16px' (click)="list()" class="btn btn-info" style="font-size: 20px;">Back to Users</button>
    
    </form>
  </div>
  </div>