<div class="body">

    <div class="container">
    
        <div class="printer-top"></div>
          
        <div class="paper-container">
          <div class="printer-bottom"></div>
      
          <div class="paper">
            <div class="main-contents">
              <div class="success-icon">&#10004;</div>
              <div class="success-title">
                Payment Complete
              </div>
              <div class="success-description">
    
              We appreciate your request of payment. Hope you enjoy our services
              </div>
              
              <div class="order-footer">Thank you!!</div>
            </div>
            <div class="jagged-edge"></div>
          </div>
        </div>
        
      </div>
      
      <div class="but">
        <button class="btn btn-info" style="font-size: 25px;" (click)="goback()" routerLinkActive="active" >GO HOME</button>
      </div>
    </div>
