
<div class="loginnav"  >
   
  <nav class="navbar navbar-expand-lg navbar-dark bg-info text-light">
    <a class="navbar-brand mr-5"   routerLink="/voizfonica" routerLinkActive="active" style="font-size:x-large;">VoizFonica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse"   id="navbarSupportedContent" style="padding-left: 650px;">
      
      <ul class="navbar-nav mr-auto" style="text-align:right;">
       
        
          
        <li class="nav-item">
          <a class="nav-link"  routerLink="/add" routerLinkActive="active" >Add User</a>
          </li>
         
           
           
          <li class="nav-item">
            <a class="nav-link" routerLink="/employees" routerLinkActive="active">All User</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">Aboutus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addplans" routerLinkActive="active">Plans</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat" routerLinkActive="active">Chat</a>
        </li >
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
        </li >

        <li class="nav-item">
          <a class="nav-link" style="color:white;" >{{fname}}</a>
        </li >
       
      </ul>
    </div>

  </nav>
</div>
