
<!-- Topic Cards -->
<div id="cards_landscape_wrap-2" >
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/assets/images/prepaid.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>PREPAID</h6>
                                <p>Best offers, High speed data, Easy bill payment, 24x7 customer support.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/assets/images/postpaid.jpg" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>POSTPAID</h6>
                                <p>Best offers, High speed data, Easy bill payment, 24x7 customer support.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/assets/images/donglee.jpg" alt="" />
                            </div>

                            <div class="text-container">
                                <h6>DONGLE</h6>
                               <p>Best offers, High speed data, 24x7 customer support, featured plans</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Title 04</h6>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</div>

