<!-- Topic Cards -->

<!-- <div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/assets/images/mail.jpg" alt="" />
                            </div>
                            <div class="text-container" style="color: black;">
                                <h6>EMAIL</h6>
                               <h3>Click here to Email Us your query, concern or feedback</h3><br>
                               <h3>Request for Proposal</h3>
                               
                               <a href = "mailto: kavlaspratiksha@gmail.com"><h2>Info@Voizfonica.com</h2></a>
                              
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/assets/images/phone.jpg" alt="" />
                            </div>
                            <div class="text-container"  style="color: black;">                                    
                                <h6>PHONE</h6>
                                <h3>Our services are available 24x7.</h3>
                                <h3>Feel free to contact</h3>
                                
                              
                              
                               <h4>1800 258 44 55</h4>

                               
                                <h4>1800 102 44 55</h4>
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/assets/images/address.jpg" alt="" />
                            </div>

                            <div class="text-container" style="color: black;">
                                <h6>ADDRESS</h6>
                              
                               <h3>6950 S.Jordan Road</h3>
                               <h3>Hyderabad-608112</h3><br>
                               
                               <h3>8024 Southwest Road</h3>
                               <h3>Bangalore-608251</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/assets/images/twitter.jpg" alt="" />
                            </div>
                            <div class="text-container" style="color: black;">
                                <h6>TWITTER</h6>
                                <h2>Get Socially Connected</h2>
                               <h2> Connect with us on Twitter </h2><br>
                                <a href = "https://twitter.com/"> <h2>@Voizfonica_Connect </h2></a>
                               
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="body">
    
    

	
	<div class="container">
	<div class="row">
	
	<!--team-1-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="/assets/images/address.jpg" class="img-fluid" />
	<h3>Address</h3>
	
	</div>
	
	<div class="team-back">
        <div class="text-container" style="color: black;">
            
          
           <h3>6950 S.Jordan Road Hyderabad-608112</h3><br>
           <h3>8024 Southwest Road Bangalore-608251</h3>

           
        </div>
	</div>
	
	</div>
	</div>
	<!--team-1-->
	
	<!--team-2-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="/assets/images/phone.jpg" class="img-fluid" />
	<h3>Phone</h3>
	
	</div>
	
	<div class="team-back">
        <div class="text-container"  style="color: black;">                                    
            
            <h3>Our services are available 24x7.</h3>
            <h3>Feel free to contact</h3>
            
          
          
           <h4><b>1800 258 44 55</b></h4>

           
            <h4><b>1800 102 44 55</b></h4>
            
        </div>
	</div>
	
	</div>
	</div>
	<!--team-2-->
	
	<!--team-3-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="/assets/images/gmail.jpg" class="img-fluid" />
	<h3>E-mail</h3>
	
	</div>
	
	<div class="team-back">
        <div class="text-container" style="color: black;">
            
           <h3>Click here to Email Us your query, concern or feedback</h3><br><br>
          
           
           <a href = "mailto: registerationvoizfonica@gmail.com"><h2>click here</h2></a>
          
        </div>
	</div>
	
	</div>
	</div>
	<!--team-3-->
	
	<!--team-4-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="/assets/images/twitter2.jpg" class="img-fluid" />
	<h3>Twitter</h3>
	
	</div>
	
	<div class="team-back">
        <div class="text-container" style="color: black;">
            
            <h2><b>Get Socially Connected</b></h2>
           <h2> <b>Connect with us on Twitter </b></h2><br>
            <a href = "https://twitter.com/voizfonica3" target="_blank"> <h2>Voizfonica</h2></a>
           
        </div>
	</div>
	
	</div>
	</div>
	<!--team-4-->
	
	
	
	
	</div>
    </div>
</div>