<div class="project">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info text-light">
    <a class="navbar-brand mr-5" routerLink="voizfonica">VoizFonica</a>
</nav>
</div>
<div class="body">
<div class="container">
  <h2 style="text-align: center; color: crimson;">Registration Form</h2>
<form #regform="ngForm" (ngSubmit)="reguser()">
  <small class="text-danger">{{msg}}</small>
  <div class="form-group">
    <label for="name">First Name:</label>
    <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" [(ngModel)]="user.fname" required>
  </div>
  <div class="form-group">
    <label for="name">Last Name:</label>
    <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" [(ngModel)]="user.lname" required>
  </div>
  <div class="form-group">
    <label for="name">Age:</label>
    <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age" [(ngModel)]="user.age" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="user.emailId" required>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" [(ngModel)]="user.password" required>
  </div>
  <div class="form-group">
    <label for="pwdc">Confirm Password:</label>
    <input type="password" class="form-control" id="cpwd" placeholder="Enter password" name="cpwd" [(ngModel)]="user.password">
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="remember"> Terms and Conditions</label>
  </div>

  <button type="submit" class="btn btn-success" style="font-size: medium;" [disabled]="regform.form.invalid">Register</button>
  <!-- <small class="float-right" [routerLink]="['/login']"> Existing  User ? Login here</small> -->
  <a [routerLink]="['/Adminlogin']"> Existing  User ? Login here</a>
 
</form>
</div>
</div>


