<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="body">
<div class="container">
	<div class="row">
        
        
       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h3 style="text-align: center;color: indianred;" >User Profile</h3></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="assets\images\userpr1.jfif" id="profile-image1" class="img-circle img-responsive"> 
                
     
                     </div>
              
              <br>
    
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h1 style="color:#00b1b1;">{{emp.name}} </h1>
              <!-- <span><p>Aspirant</p></span>    -->
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
    
              
<div class="col-sm-5 col-xs-6 tital " ><b>User Id:</b></div><div class="col-sm-7 col-xs-6 ">{{emp.id}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><b>Name:</b></div><div class="col-sm-7"> {{emp.name}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><b>Age:</b></div><div class="col-sm-7"> {{emp.age}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><b>Address:</b></div><div class="col-sm-7">{{emp.address}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><b>City:</b></div><div class="col-sm-7">{{emp.city}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><b>Aadhar:</b></div><div class="col-sm-7">{{emp.adhar}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><b>Mobile No:</b></div><div class="col-sm-7">{{emp.phone}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><b>Email-Id:</b></div><div class="col-sm-7">{{emp.emailId}}</div>


            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
    <div class="but">
        <button class="btn btn-danger" style="font-size: 25px;" (click)="goback()" routerLinkActive="active" >GO HOME</button>
      </div>
</div>  
    <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});       
              </script> 
       
 
   </div>
</div>

</div>




         