.container{
    
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: 240px;
    background:whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    
}
.body{
    background: url(src\assets\images\updatebg.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;

}
input { font-size: 15px; }
