<div class="body">
<div class="container">
    <h2 style="text-align: center;">Update Password</h2>
    <form #rudForm="ngForm" (ngSubmit)="upUser(emp.emailId,emp.password)">
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="emp.emailId" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">New Password:</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="emp.password" placeholder="Enter password" name="pwd">
      </div>
    
      <button type="submit" class="btn btn-success" style="font-size: medium;">Update</button>&nbsp;&nbsp;
     
       <button type="submit" class="btn btn-info" style="font-size: medium;"  (click)="goback()" routerLinkActive="active" >BACK</button>
    </form>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    
  </div>
</div>