<!-- <app-loginsuccess></app-loginsuccess> -->
<div class="body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Postpaid List</h2>
      </div>
      <div class="panel-body">
        <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">
  
          <thead>
            <tr>
              <th>Id</th>
              <th >Service</th>
              <th >Cost</th>
              <th >Validity</th>
              <th >Benefits</th>
              
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let postpaid of postpaids | async">
              <td>{{postpaid.id}}</td>
              <td>{{postpaid.service}}</td>
              <td>{{postpaid.cost}}</td>
              <td>{{postpaid.validity}}&nbsp;days</td>
              <td>{{postpaid.benifits}}</td>
              
              
                
                <td>
                    <button style='margin-right:16px' (click)="gotopayment(postpaid.id)" class="btn btn-success" style="margin-left: 10px;font-size: medium;">BUY</button>
                  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="but">
      <button class="btn btn-info" style="font-size: 25px;"(click)="goback()" routerLinkActive="active" >BACK</button>
    </div>
    </div>