<h1 style="text-align: center;font-size: 30px;">FREQUENTLY ASKED QUESTIONS</h1>

<div class="container" >
    <br />
    <br />
    <br />

    <br />


    <div class="panel-group" id="accordion" style="font-size: 15px;">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Whether any charges have to be paid for migration from one plan to another?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body" >
                    No charges are payable by the subscriber for migration from one tariff plan to another tariff plan.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How can we contact voizfonica ?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                   You can contact us through <strong>Info@voizfonica.com</strong> and toll free number <strong> 1800 258 44 55 </strong>.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What are the services provided by voizfonica?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                   The services provided by voizfonica are prepaid,Postpaid,dongle.
                </div>
            </div>
        </div>

        <div class="faqHeader">Prepaid</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> A prepaid subscriber feels that he is being overcharged. Can he get itemized usage details in respect of his mobile connection?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes, if a prepaid subscriber makes a request for itemized usage details, the service provider is required to supply to him the same for a period of six months preceding the month in which the request has been made. 
                </div>
            </div>
        </div>
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Can a pre-paid subscriber migrate to post-paid and vice-versa?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes, migration from pre-paid to post-paid and vice-versa is allowed without any migration charge and without having change in mobile number.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Can a prepaid subscriber avail any services even after his talk time is exhausted?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    Services which do not affect talk time value, including incoming voice calls and SMS shall continue to be available to the prepaid subscribers during validity period even after talk time value has exhausted.
                    <br />
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What are the payment options?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    The best way to transfer amount is via debit/credit card. This secure platform ensures timely payments and a secure environment. 
                </div>
            </div>
        </div>

        <div class="faqHeader">Postpaid</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Can a service provider levy charge for provision of hard copy of the bill?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    TRAI has prohibited levy of charges for provision of hard copy of the bill to the post-paid subscribers.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How the post-paid subscribers will know his | her credit limit?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    The credit limit set for a post-paid customer is to be included in monthly statement / bill.
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        /* content: "e072"; */
         /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
    
</style>
