
<div class="body">

<div class="container">
    <h1 style="text-align: center; color:darkmagenta;">Login Form</h1>
    <br>
    <form #loginform="ngForm" (ngSubmit)="loginUser(user.emailId)">
      <small class="text-danger">{{msg}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control"  id="email" placeholder="Enter email" name="email" required pattern="^[a-zA-Z]+[.&$#_0-9a-z]*?[a-z0-9]+@(gmail|yahoo|outlook|ac)\.(com|in|org)$" [(ngModel)]="user.emailId" required>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required pattern= "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"  minlength="5" maxlength="10"  [(ngModel)]="user.password" required>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      
      <button type="submit" class="btn btn-success" style="font-size:20px ;"[disabled]="loginform.form.invalid">Login</button>
     
      &nbsp; &nbsp;<a [routerLink]="['/forgotadmin']"> Forgot Password</a><br>
      <a [routerLink]="['/reg']"> New User ? Register here</a>
    </form>
    <!-- <small class="float-right" [routerLink]="['/reg']"> New User ? Register here</small> -->
  </div>
  </div>
  