<div class="container-fluid sticky-nav-wrapper" style="background-color: #0f183b;height: 80px;width: 100%;">
    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-light sticky-nav" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
            <a class="navbar-link" style="color: white;margin-top: 5px;" ><h2>VOIZFONICA</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse " id="navbarNavAltMarkup">
              <div class="navbar-nav" style="padding-left: 550px;">
                <a class="nav-item nav-link" style="color: white;margin-top: 10px; font-size: large;" routerLink="/userlogin" routerLinkActive="active">USER LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
                <a class="nav-item nav-link" style="color: white;margin-top: 10px; font-size: large;" routerLink="/Adminlogin" routerLinkActive="active">ADMIN LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="nav-item nav-link" style="color: white;margin-top: 10px; font-size: large;" routerLink="/contactus" routerLinkActive="active">CONTACT US</a>
              </div>
            </div>
          </nav>
    </div>
    </div>
    <div class="row" >
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="view">
                  <img class="d-block w-100" src="assets\images\newslide1.jpg" style="width: 100%;" alt="First slide">
                  <div class="mask rgba-black-light"></div>
                </div>
              
              </div>
              <div class="carousel-item ">
                <div class="view">
                  <img class="d-block w-100" src="assets\images\slidernew.png" style="width: 100%;" alt="Second slide">
                  <div class="mask rgba-black-strong"></div>
                </div>
                
              </div>
              <div class="carousel-item">
                <div class="view">
                  <img class="d-block w-100" src="assets\images\slider3.jpg" style="width: 200%;" alt="Third slide">
                  <div class="mask rgba-black-slight"></div>
                </div>
               
              </div>
            </div>
      
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <svg style="background-color:black;" width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-short"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
              </svg>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <svg style="background-color: black;" width="3em" height="3em" viewBox="0 0 16 16"
                class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z" />
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z" />
              </svg>
            </a>
      
          </div>
      
    </div>
    <div class="container-fluid" style="height: 250px; background-color:white;" >
      <div class="row">
        <div class="container">
          <div style="width: 50%;float: left;">
            <h4 style="color:black;padding-top: 30px; font-size: large;">"VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way"
            </h4>
        </div>
        <div style="width: 50%;float: right;padding-right: 1%;">
          <div style="margin:auto;padding-top:30px;">
          <div class="shadoww" style="margin:0% 0% 5% 5%;" >
          <h2 align="center" style="font-size:40pt;" >{{num}}+</h2>
          <h3 align="center" style="text-shadow: black;" >Our Happy Customers World Wide</h3><br>
        </div>
        </div>
        </div>
      </div>    
      </div>
      
      
     
        <div id="cards_landscape_wrap-2" >
          <div class="container">
            <h2 style="color:black; padding-top: 2%;">SERVICES</h2>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <a href="">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="image-box">
                                      <img src="/assets/images/prepaid2.png" alt="" />
                                  </div>
                                  <div class="text-container">
                                      <h6>PREPAID</h6>
                                      <p>Best offers, High speed data, Easy bill payment, 24x7 customer support.</p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <a href="">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="image-box">
                                      <img src="/assets/images/postpaid2.jpg" alt="" />
                                  </div>
                                  <div class="text-container">                                    
                                      <h6>POSTPAID</h6>
                                      <p>Best offers, High speed data, Easy bill payment, 24x7 customer support.</p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <a href="">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="image-box">
                                      <img src="/assets/images/donglee.jpg" alt="" />
                                  </div>
      
                                  <div class="text-container">
                                      <h6>DONGLE</h6>
                                     <p>Best offers, High speed data, 24x7 customer support, featured plans</p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="/assets/images/offers.jpg" alt="" />
                                </div>
                                <div class="text-container">                                    
                                    <h6>OFFERS</h6>
                                    <p>We provide Exciting Offers that are affordable.Exciting Offers Just For you.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                  <div class="container"><br><br>
                    <h2 style="color:black; padding-top: 0%;">WHY VOIZFONICA</h2>
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                          <a href="">
                              <div class="card-flyer">
                                  <div class="text-box">
                                      <div class="image-box">
                                          <img src="/assets/images/worldwww.jpg" alt="" />
                                      </div>
                                      <div class="text-container">
                                          <h6>WORLD WIDE</h6>
                                          <p>We provide sevices throughout the world</p>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                          <a href="">
                              <div class="card-flyer">
                                  <div class="text-box">
                                      <div class="image-box">
                                          <img src="/assets/images/security.jpg" alt="" />
                                      </div>
                                      <div class="text-container">                                    
                                          <h6>SECURITY</h6>
                                          <p>Our major Priority is to secure customer data</p>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/assets/images/rel.jpg" alt="" />
                                    </div>
                                    <div class="text-container">                                    
                                        <h6>ASSISTANCE</h6>
                                        <p>Resolve queries to build Customer relation.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                          <a href="">
                              <div class="card-flyer">
                                  <div class="text-box">
                                      <div class="image-box">
                                          <img src="/assets/images/support.jpg" alt="" />
                                      </div>
          
                                      <div class="text-container">
                                          <h6>CUSTOMER SUPPORT</h6>
                                         <p>We provide 24x7 customer support</p>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      </div>
              </div>
              &nbsp;&nbsp;<p style="font-weight: bolder;font-size: 40px;text-align: right;" >&nbsp;&nbsp;&nbsp; "We’re not competitor-obsessed,</p>
             <br> <p style="font-weight: bolder;font-size: 40px;text-align: right;"> &nbsp; we’re customer-obsessed."</p>
          </div>
      </div>
        </div>
      
   
    <div id="cards_landscape_wrap-2" >
      <div class="container" >
       
              </div>
              </div>
   
    
<footer style="margin-top:+10% ;" class="page-footer font-small blue pt-4" style="color: black;">

  <!-- Footer Links -->
  <div style="background-color: rgb(43, 39, 39);margin-top: -2%;" class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div  class="row">

      <!-- Grid column -->
      <div style="padding: 2%;color: white;" class="col-md-6 mt-md-0 mt-3">
        <div class="footer-copyright text-center py-3" style="text-align: center; font-size: large;">Copyright © 2020 VoizFonica. All rights reserved.
    
        </div>

       
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

    </div>
    <!-- Grid row -->

  </div>
 
</footer>
<!-- Footer -->
