.body{
    background: url(src\assets\images\bridge.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center; 
    /* position: fixed;  */
   
    min-width: 100%;
    min-height: 100%;
}

.container{
    position: relative;
    margin-top: 10px;
    width: 450px;
    height: 740px;
    background:whitesmoke;
    border-radius: 5px;
    font-size: 16px;
}
input { font-size: 15px; }
